# System files
.DS_Store
.vscode/

# Bundle
**/.bundle

# Log & tmp
backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep

# Storage
backend/storage/*
!backend/storage/.keep

# Secrets
backend/config/master.key

# Frontend
frontend/dist
frontend/src/assets
node_modules
npm-debug.log*
